<h2>New Celebrity</h2>
<!-- //method using POST -->
<!-- iteration 3 -->
<form method="post" action="/celebrities/create">
    <!-- input tag for each attribute  -->

    <!-- name attribute -->
    <label> <input type="text" id="name" name="name"></label>

    <!-- occupance attribute -->
    <label><input type="text" id="occupation" name="occupation"></label>

    <!-- catch phrase attribute  -->
    <label><input type="text" id="catchPhrase" name="catchPhrase"></label>

    <!-- <submit button -->
    <button type="submit">Submit Form</button>
</form>

