<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<!-- iteration 4 -->
<a href="/celebrities/create">Create a new Celebrity</a>
<a href="/movies/create">Create a new Movie</a>
<a href="/movies">Movies</a>