<h2>Movies</h2>
<ul>
    <% Movies.forEach(movie => { %>
        <li>
            <%- movies.name%> 
            </li><a href="/movies/<%= movie.id %>"><%= movie.title %></a>
  <%  }); %>
        </li>
</ul>