<h1>New Movie</h1>
<!-- //method using POST -->
<form method="POST" action="/movies/create">
    <!-- input tag for each attribute  -->

    <!-- title attribute -->
    <label><input type="text" id="name" name="title"></label>

    <!-- genre attribute -->
    <label><input type="text" id="genre" name="genre"></label>
    

    <!-- plot attribute  -->
    <label><input type="text" id="plot" name="plot"></label>

<!-- cast attribute -->
<label for="cast">Cast</label>
    <select name="Celebrity" multiple>
       <% celebrities.forEach(celebrity => { %>
<option value=<%= celebrity._id%>> <%= celebrity.name %> </option>
      <% }) %>
    </select>
    <!-- <submit button -->
    <button type="submit">Submit Form</button>
</form>